* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline:none
}
:root {
    --white: #ffffff;
    --gray:#7e7e7e;
    --gray-light:#ebebeb;
    --blue:#1565c0;
    --error:#e51b00;
    --dark: #212121;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
}
