<template lang="pug">
    .currency-icon(:style="{backgroundImage:`url(${color})`}")
</template>

<script>
/**
 * Иконка валюты
 */
export default {
    name:'CurrencyIcon',
    props: {
        color: {
            type:[String],
            default: ''
        }
    }
}
</script>


<style lang="scss">
    .currency-icon {
        display: block;
        width: 27px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 16px;
    }
</style>
