<template lang="pug">
    .input-container(:class="{'is-error':!isValid}")
        input.input-native(:value="value" @keydown="keyDownHandler" @keyup="keyUpHandler")
        .is-error-notice(v-if="!isValid") Только цифры и разделитель точка
</template>

<script>

/**
 * Массив допустимых клавиш
 * @type {string[]}
 */
const WHITE_LIST = ['ctrlKey+c','ctrlKey+v','Backspace','Delete','ArrowLeft','ArrowRight']
/**
 * Шаблон регулярного выражения для проверки вводимого значения
 * @type {RegExp}
 */
const VALID_PATTERN = new RegExp(/^[0-9]*\.?[0-9]*$/,'gi')

/**
 * Компонент ввода чисел для конвертации.
 * Контролирует корректность вводимого значения.
 */
export default {
    name:'InputComponent',
    /**
     * Входящие параметры
     */
    props: {
        /**
         * Основное значение
         */
        value: {
            type:[Number,String],
            default() {
                return 1
            }
        }
    },
    data() {
        return {
            /**
             * @param {Boolean} - метка корректности введённых данных
             */
            isValid:true,
        }
    },
    methods: {
        keyDownHandler(event) {
            let value = event.target.value || ''
            let key = ((event.ctrlKey ? 'ctrlKey+' : '') + event.key) || ''
            let fullValue = value + key

            this.isValid = VALID_PATTERN.test(fullValue) || WHITE_LIST.indexOf(key) > -1

            if(!this.isValid) {
                this.$emit('input',value)
                event.preventDefault()
            }
        },
        keyUpHandler(event) {
            this.$emit('input',event.target.value)
        }
    }
}

</script>


<style lang="scss">
    @import '../assets/scss/colors.scss';
    .input-container {
        color: $gray;
        flex-grow:1;
        &.is-error {
            color: red;
            .input-native {
                border:1px solid $error;
            }
        }
        .is-error-notice {
            position: absolute;
            font-size:.8em;
            color: $error;
            opacity: .8;
            padding-top: 6px;
            white-space: nowrap;
        }
        .input-native {
            width: 100%;
            height: 40px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border: 1px solid $gray-light;
            padding: 0 12px;
            font-size: 1.5em;
            text-align: right;
            color: $gray;
        }
    }
</style>
