<template lang="pug">
    .select-currency-container(:style="{zIndex:zIndex}")
        .select-currency-input-container(@click="toggleIsHidden")
            CurrencyIcon(:color="getSelectedCurrencyColor")
            input.select-currency(v-model="value" readonly)
            .select-currency-arrow
        ul.select-currency-list(ref="selectCurrencyList" :class="{'is-hidden':isHidden}"  @mouseleave="inputMouseLeaveHandle")
            li.select-currency-list--item(v-for="(item,ind) in currencyPairs" :key="ind" @click="selectHandler(item.quote_currency)")
                CurrencyIcon(:color="item.color")
                .select-currency-name {{ item.quote_currency }}
</template>

<script>

import CurrencyIcon from "@/components/CurrencyIcon";

import { mapState } from 'vuex'

/**
 * Компонент выбора валюты для конвертации
 */
export default {
    name:'SelectCurrency',
    components: {
        CurrencyIcon
    },
    props: {
        /**
         * Направление конвертации откуда/куда
         * используется для формирования метода сохранения в хранилище vuex
         * Допустимые значения:
         * From {String} - откуда (основная)
         * To {String} - куда (второстепенная)
         */
        currencyDirection: {
            type:[String],
            default: 'From'
        },
        /**
         * Число, CSS z-index для корректного наложения элементов при открытом списке
         */
        zIndex: {
            type:[Number],
            default: 1
        }
    },
    computed: {
        ...mapState({
            currencyPairs: state => state.currency.currencyPairs,
        }),
        value() {
            return this.$store.getters[`currency/${this.currencyDirection.toLowerCase()}`]
        },
        /**
         * @return {string} - строка, путь до иконки валюты
         */
        getSelectedCurrencyColor() {
            const VALUE = this.value
            let color = ''
            this.currencyPairs.some(j => {
                if(j.quote_currency === VALUE) {
                    color = j.color
                }
            })
            return color
        }
    },
    data() {
        return {
            /**
             * Метка отображения списка валют. True - скрыта
             */
            isHidden:true
        }
    },
    methods: {
        /**
         * Скрываем список валют, когда курсор мыши не находится над списком
         */
        inputMouseLeaveHandle() {
            this.isHidden = true
        },
        /**
         * Переключает метку скрытия / отображения списка
         */
        toggleIsHidden() {
            this.isHidden = !this.isHidden
        },
        /**
         * Записывает выбранное значение валюты
         * @param value
         */
        selectHandler(value) {
            this.isHidden = true
            this.$store.commit(`currency/set${this.currencyDirection}`,value)
        },
    },
}

</script>

<style lang="scss">
    @import '../assets/scss/colors.scss';
    $inputHeight: 40px;
    .select-currency {
        cursor: pointer;
        background-color: $blue;
        color: $white;
        width: 3.15em;
        border:none;
        font-size: 16px;
        &-container {
            position: relative;
            cursor: pointer;
            flex-grow:0;
            height: $inputHeight;
            background-color: $blue;
            border:none;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        &:focus{
            outline:none;
            box-shadow:1px 2px 3px 4px $blue;
        }
        &-list {
            position: absolute;
            overflow: hidden;
            height: auto;
            background-color: $blue;
            color: $white;
            width: 100%;
            z-index: 1;
            box-shadow: 1px 2px 3px 4px $gray-light;
            transition: height .4s ease-in-out;
            &.is-hidden {
                height: 0;
                box-shadow: none;
            }
        }
        &-list--item {
            display: flex;
            padding: 8px 16px;
            &:hover {
                background-color: $gray-light;
                color: $dark;
            }
        }
        &-arrow {
            display: block;
            width: 15px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(/img/icons/dropdown-ico.svg);
        }
        &-input-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $blue;
            height: $inputHeight;
            padding: 8px 16px;
        }
    }
</style>
