<template lang="pug">
    .crypto-exchange-page
        header
            h1.page--title Конвертер валют

        main
            div.exchange-form--container.block-container
                .block
                    h2.block-title Конвертируем из {{currencyFrom}} в {{currencyTo}}
                    .exchange-input
                        InputComponent(v-model="valueFrom")
                        SelectCurrency(:zIndex="2")
                    .exchange-reverse(@click="reverseCurrencies")
                    .exchange-input
                        InputComponent(v-model="valueTo")
                        SelectCurrency(:currencyDirection="'To'" :zIndex="1")

            div.exchange-summary--container.block-container
                .block
                    h2.block-title Итого
                    .single-element
                        .single-container Комиссия за конвертацию {{convertationComission}}% (-{{((convertationComission / 100) * valueFrom).toFixed(2)}}&nbsp;{{currencyFrom}})
                        .single-container Вы получите с учётом комиссии {{ (valueTo - ((convertationComission / 100) * valueTo)).toFixed(2) }}&nbsp;{{ currencyTo }}
                        .single-container 1 {{ currencyFrom }} = {{ valueFromOne }} {{ currencyTo }}
                        .single-container 1 {{ currencyTo }} = {{ valueToOne }} {{ currencyFrom }}
                    .others-currencies
                        h3.others-currencies--title {{ valueFrom }} {{ currencyFrom }} по отношению к другим валютам
                        ul.others-currencies--list(v-if="toOthersCurrencyList && toOthersCurrencyList.length")
                            li.others-currencies--list-item(v-for="(item) in toOthersCurrencyList" :key="`${item.currencyName}`" @click="selectCurrency(item.currencyName)")
                                CurrencyIcon(:color="item.color")
                                | {{ item.currencyName }} = {{ item.value }}
                        template(v-else)
                            .stub-container(v-for="(i) in [1,2,3,4,5,6,7,8]" :key="`stub-${i}`")
                                .stub-ico
                                .stub-block

        footer
            .footer-notice Курсы валют пересчитываются каждые 30 секунд
</template>

<script>

import InputComponent from "@/components/InputComponent"
import SelectCurrency from "@/components/SelectCurrency"
import CurrencyIcon from "@/components/CurrencyIcon";


/**
 * Страница конвертера валют *
 */
import { mapState } from 'vuex'

export default {
    name:'IndexPage',
    components: {
        InputComponent,
        SelectCurrency,
        CurrencyIcon
    },
    data() {
        /**
         * @param valueFrom {Number} - число, количество валюты из которой конвертируем (основная)
         * @param valueTo {Number} - число, количество валюты в которую конвертируем (второстепенная)
         * @param hasConverted {Boolean} - метка, указывает на прошедший процесс конвертации
         * @param valueFromOne {Number} - число, количество второстепенной валюты на 1 единицу основной валюты
         * @param valueToOne {Number} - число, количество основной валюты на 1 единицу второстепенной валюты
         */
        return {
            valueFrom:1,
            valueTo:1,
            hasConverted:false,
            valueFromOne:undefined,
            valueToOne:undefined,
        }
    },
    computed: {
        ...mapState({
            currencyFrom: state => state.currency.from,
            currencyTo: state => state.currency.to,
            currencyPairs: state => state.currency.currencyPairs,
            exchangeRates: state => state.currency.exchangeRates,
            convertationComission: state => state.currency.convertationComission,
        }),
        /**
         * Собирает массив остальных сконвертированных валют по отношению к основной и отличных от второстепенной.
         * Возвращает массив объектов валют.
         * @return [{value,currencyName,color}]
         */
        toOthersCurrencyList() {
            const _this = this
            return this.exchangeRates.reduce((arr,currency) => {
                let ind = currency.pair.indexOf('/')
                let toCurrency = currency.pair.substring(ind+1,ind+4)
                if(this.currencyFrom !== toCurrency && this.currencyTo !== toCurrency) {
                    let c = _this.convert(_this.valueFrom, false, this.currencyFrom, toCurrency, false)
                    arr.push({value: c, currencyName: toCurrency, color: currency.color})
                }
                return arr
            },[])
        }
    },
    watch: {
        currencyFrom: {
            handler:function(n) {
                if(n) {
                    this.convert(this.valueFrom,false,n,this.currencyTo)
                    this.valueFromOne = this.convert(1,false,n,this.currencyTo,false)
                    this.valueToOne = this.convert(1,false,this.currencyTo,n,false)
                }
            },
            immediate:false
        },
        currencyTo: {
            handler:function(n) {
                if(n) {
                    this.convert(this.valueFrom,false,this.currencyFrom,n)
                    this.valueFromOne = this.convert(1,false,n,this.currencyTo,false)
                    this.valueToOne = this.convert(1,false,this.currencyTo,n,false)
                }
            },
            immediate:false
        },
        valueFrom:function(n,o) {
            if(this.hasConverted) {
                this.hasConverted = false
                return
            }
            if(n && n !== o) {
                this.convert(n,false,this.currencyFrom,this.currencyTo)
            }
        },
        valueTo:function(n,o) {
            if(this.hasConverted) {
                this.hasConverted = false
                return
            }
            if(n && n !== o) {
                this.convert(n,true,this.currencyFrom,this.currencyTo)
            }
        },
    },
    methods: {
        selectCurrency(currencyName) {
            this.$store.commit(`currency/setFrom`,currencyName)
        },
        reverseCurrencies() {
            [this.currencyFrom,this.currencyTo] = [this.currencyTo,this.currencyFrom]
        },
        /**
         * Конвертирует число из одной валюты в другую валюту
         * @param value {Number} - введённое значение
         * @param reverse {Boolean} - направление конвертации. По умолчанию из левой (основной) в правую (второстепенную). true - из второстепенной валюты в основную
         * @param from {String} - код валюты из которой конвертируем
         * @param to {String} - код валюты в которую конвертируем
         * @param printValue {Boolean} - отображать значение на странице. true - отображаем, false - возвращаем в качестве результата
         */
        convert(value,reverse = false,from, to,printValue = true) {
            if(!value || !from || !to) return 0
            try {
                let pairFrom = {}
                let pairTo = {}
                this.currencyPairs.forEach(p => {
                    if (p.quote_currency === from) {
                        pairFrom = p
                    }
                    if (p.quote_currency === to) {
                        pairTo = p
                    }
                })
                let ratesFrom = {}
                let ratesTo = {}
                this.exchangeRates.forEach(k => {
                    if (k.pair === `${pairFrom.base_currency}/${pairFrom.quote_currency}`) {
                        ratesFrom = k
                    }
                    if (k.pair === `${pairTo.base_currency}/${pairTo.quote_currency}`) {
                        ratesTo = k
                    }
                })
                let baseFrom = value / parseFloat(ratesFrom.rate)
                let baseTo = baseFrom * parseFloat(ratesTo.rate)

                let baseFromReversed = value / parseFloat(ratesTo.rate)
                let baseToReversed = baseFromReversed * parseFloat(ratesFrom.rate)

                if(printValue) {
                    if (!reverse) {
                        this.valueTo = baseTo.toFixed(2)
                    }
                    if (reverse) {
                        this.valueFrom = baseToReversed.toFixed(2)
                    }
                }
                this.hasConverted = true
                return !reverse ? baseTo.toFixed(2) : baseToReversed.toFixed(2)
            } catch (e) {
                console.error('IndexPage:converter error ',e)
            }
            return undefined
        }
    },
    async mounted() {
        /**
         * Обновление курсов с бэка каждые 30 секунд
         * @return {Promise<void>}
         */
        const updateCurrency = async () => {
            await this.$store.dispatch('currency/setCurrencyPairs')
            await this.$store.dispatch('currency/setExchangeRates')
            this.convert(1, false, this.currencyFrom, this.currencyTo)
            this.valueFromOne = this.convert(1, false, this.currencyFrom, this.currencyTo, false)
            this.valueToOne = this.convert(1, false, this.currencyTo, this.currencyFrom, false)
            await this.$store.dispatch('currency/getComission')
        }
        await updateCurrency()
        setInterval(() => {
            updateCurrency()
        },30000)
    }
}

</script>

<style lang="scss">
    @import '../assets/scss/colors.scss';
    body {
        background-color: $white;
    }
    header, main {
        width: 100%;
        max-width: 800px;
        margin: 3em auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .page--title {
        font-size: 3em;
        font-weight: 900;
    }
    .block-container {
        flex-basis: 48%;
        flex-grow: 0;
        padding: 24px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-radius: 2px;
        border:1px solid $gray-light;
        .block {
            width: 100%;
            height: 100%;
            &-title {
                margin-bottom: 16px;
            }
        }
    }

    .exchange-input {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
    }

    .others-currencies {
        &--title {
            margin-bottom: 16px;
        }
        &--list-item {
            cursor: pointer;
            display: flex;
            margin-bottom: 8px;
            align-items: center;
            color: $gray;
            &:hover {
                background-color: $gray-light;
            }
        }
    }
    .exchange-reverse {
        display: block;
        width: 30px;
        height: 50px;
        cursor: pointer;
        background-image: url(/img/icons/swap-vertical-ico.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: 76%;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .single-container {
        margin-bottom: 16px;
    }
    .single-container {
        font-size: 1.4em;
        color: $gray;
    }

    @mixin stubMixin($width) {
        width: $width;
        height: 20px;
        background-color: $gray-light;
        border-radius: 1px solid $gray;
    }
    .stub {
        &-container {
            width: 100%;
            display: flex;
            margin-bottom: 8px;
        }
        &-ico {
            @include stubMixin(25px);
            margin-right: 30px;
        }
        &-block {
            @include stubMixin(70px);
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    .footer-notice {
        width: 100%;
        max-width: 800px;
        color: $gray;
        font-size: 0.8em;
        padding: .8em;
        background-color: rgba(255,255,255,.6);
        margin:0 auto;
    }
    @import '../assets/scss/media/mobile.scss';
</style>
